@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
	box-sizing: border-box;

	::selection {
		background-color: #04ed00;
	}
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.login {
	min-height: 100%;
}

.Login {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Spoqa Han Sans';
	margin-bottom: 56px;

	.pageInfo {
		position: relative;
		left: 10px;
		align-self: flex-start;
		margin: 12px;
		padding: 7px 15px;
		border-radius: 2px;
		background-color: #0e0;
		font-size: 16px;
	}

	.loginWrapper {
		margin-top: 10px;
		width: 600px;
		font-size: 16px;

		section {
			margin: 30px 0;
		}

		input {
			margin-top: 10px;
			padding-left: 5px;
			width: 100%;
			height: 45px;
			font-size: 16px;
		}

		input::placeholder {
			padding-left: 5px;
			opacity: 0.5;
		}

		input:focus {
			outline: none;
		}

		.alert {
			color: rgb(250, 128, 114);
		}
	}

	.loginBtn {
		button {
			margin-top: -30px;
			width: 100%;
			height: 40px;
			border: none;
			border-radius: 20px;
			font-size: 16px;
			background-color: black;
			color: white;
		}

		button:hover {
			cursor: pointer;
		}
	}

	.loginDescription {
		line-height: 20px;
	}

	a {
		color: black;
	}
}

.footer {
	width: 100%;
	height: 56px;
	position: absolute;
	bottom: 0;
	left: 0;
}

@media (max-width: 1169px) {
	.login {
		position: relative;
		min-height: 100%;
		padding-bottom: 303px;

		.loginWrapper {
			width: 90%;
		}
	}
}
