.heartButton {
	transition: transform 300ms ease;
	width: 10px;
	margin: 0 0 3px -5px;
	cursor: pointer;

	.button {
		font-size: 15px;
		.red {
			color: red;
		}

		&:hover {
			transform: scale(1.1);
		}
	}
}
