.heartButton {
	transition: transform 300ms ease;
	width: 10px;
	margin-bottom: 3px;
	cursor: pointer;

	.button {
		font-size: 20px;

		.red {
			color: red;
		}

		&:hover {
			transform: scale(1.1);
		}
	}
}
