@import '/Users/untitled/Desktop/projects/fullstack3-1st-weareneverthat-frontend/src/styles/_mixin.scss';
@import '../../styles/mixin';

@include desktop {
	.listContainer {
		position: relative;
		box-sizing: border-box;
		background-color: white;
		width: 98%;
		height: auto;

		.TopNav_wrapper {
			display: flex;
		}

		.buttons {
			display: flex;
			justify-content: space-between;
			height: 50px;
			.navButton {
				display: inline;
				span {
					cursor: pointer;
					position: fixed;
					font-size: 20px;
					border: 1px solid rgb(7 238 1);
					border-radius: 3px;
					background-color: rgb(7 238 1);
					padding: 2px 10px 2px 10px;
					margin-left: 24px;
				}
			}
			.sortingButton {
				margin-right: 20px;
				button {
					cursor: pointer;
					border-radius: 20px;
					border: none;
					font-size: 15px;
					background-color: rgb(227 227 227);
					padding: 5px 15px 5px 15px;
				}
				button:hover {
					background-color: black;
					color: white;
					transition: all 0.5s linear;
				}
				.sortBox1 {
					font-family: thisisneverthat;
					border: 1px solid black;
					transition: 0.3s;
					z-index: 9999;
					background-color: white;
					position: absolute;
					padding: 2rem;
					border-radius: 0.2rem;
					margin: auto;
					opacity: 0;
				}
				.sortBox2 {
					font-family: thisisneverthat;
					border: 1px solid black;
					transition: 0.3s;
					z-index: 9999;
					background-color: white;
					position: absolute;
					padding: 2rem;
					border-radius: 0.2rem;
					opacity: 1;
					margin: auto;
				}
			}
		}

		.productList {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(4, 1fr);

			.image {
				color: black;
				text-decoration: none;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 50px;
				.imageFull {
					height: 600px;
					.imageContainer1 {
						display: flex;
						justify-content: center;
						position: relative;
						width: 400px;
						height: 500px;

						#front1 {
							width: 90%;
							opacity: 0;
							transition: opacity 1s linear;
							position: absolute;
							top: 0;
							left: 0;
						}
						#front1:hover {
							transition: 2s;
							opacity: 1;
						}
					}
					.imageContainer2 {
						display: flex;
						justify-content: center;
						position: relative;
						width: 400px;
						height: 500px;
						top: -500px;

						#front2 {
							width: 90%;
							opacity: 0;
							transition: opacity 1s linear;
							position: absolute;

							left: 0;
						}
						#front2:hover {
							transition: 2s;
							opacity: 1;
						}
					}
					.imageContainer3 {
						display: flex;
						justify-content: center;
						position: relative;
						width: 400px;
						height: 500px;
						top: -1000px;
						#front3 {
							width: 90%;
							opacity: 0;
							transition: opacity 1s linear;
							position: absolute;
							left: 0;
						}
						#front3:hover {
							transition: 2s;
							opacity: 1;
						}
					}
				}

				.subImages {
					margin-top: 20%;
					margin-bottom: -20%;
					img {
						width: 40%;
						height: 40%;
					}
				}

				h3 {
					font-weight: bold;
					font-size: 20px;
				}
				.priceContainer {
					display: flex;
					justify-content: center;
					.price {
						text-decoration: line-through;
						font-weight: bold;
						color: gray;
					}
					.newprice {
						margin-left: 10px;
						font-weight: bold;
					}
				}
			}

			.LoaderWrap {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				position: relative;
				text-align: center;
				justify-content: center;
			}
		}
	}
}
