.CartModalOff {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 40px;
	right: -400px;
	bottom: 10px;
	border: 1px solid;
	width: 400px;
	transition: all 600ms cubic-bezier(0.5, 0, 0.07, 1);

	a {
		color: black;
	}
}

.CartModalOn {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 40px;
	right: 20px;
	bottom: 10px;
	border: 1px solid;
	width: 400px;
	transition: all 600ms cubic-bezier(0.5, 0, 0.07, 1);

	a {
		color: black;
	}
}
